*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(135deg, #1e1e2f, #2c2c54);
}

.container{
    background: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow:  0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-group{
    display: flex;
    gap: 10px;
}

button{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

#calculateBtn{
    background: #4CAF50;
}

#resetBtn{
    background: #f44336;
}


ul{
    margin-top: 25px;
    list-style: none;
    font-size: 14px;
}

.underweight{
    color: blue;
}

.normal{
    color: green;
}

.overweight{
    color: orange;
}

.obese{
    color: red;
}
